/* @import url("@tailwindcss/typography"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

/* @plugin "tailwindcss/typography"; */

::selection {
  background-color: #fed7aa; /* amber-200 */
  color: #92400e; /* amber-900 */
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fafaf9; /* stone-50 */
  color: #292524; /* stone-800 */
}

.markdown-container h1 {
  font-size: xx-large;
  font-weight: 700;
  padding: 5px;
}

.markdown-container h2 {
  font-size: larger;
  font-weight: 600;
  padding: 5px;
}

.markdown-container h3 {
  font-size: large;
  font-weight: 500;
  padding: 5px;
}

.markdown-container p {
  margin-bottom: 1em;
  line-height: 1.6;
  font-size: 1.1em;
}
